<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>

  <div id="app">



    <p v-if="errored">We're sorry, we're not able to retrieve this information at the moment, please try back later</p>

    <div v-else>

      <p v-if="loading">Loading...</p>

      <div v-else>

        <router-view></router-view>

      </div>

    </div>



  </div>

  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/vuex/dist/vuex.min.js"></script>
  <script src="node_modules/vue-router/dist/vue-router.min.js"></script>
  <script src="node_modules/axios/dist/axios.min.js"></script>
  <script src="scripts/main.js"></script>

</body>
</html>