<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>

  <div id="app">

    <article v-for="(series, index) in seriesQuery" :key="index">

      <h2>{{ series.show.name }}</h2>

      <ul>
        <li v-for="genre in series.show.genres">{{ genre }}</li>
      </ul>

      <img v-if="series.show.image" :src="series.show.image.medium" :alt="series.show.name">

    </article>

  </div>

  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/vue-router/dist/vue-router.min.js"></script>
  <script src="node_modules/axios/dist/axios.min.js"></script>
  <script src="scripts/main.js"></script>

</body>
</html>